// main: ../default.scss
@media screen and (max-width: 991px) {
  .development-catch {
    background-image: url('../images/development_catch.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 30vh;
    width: 100%;
    margin-top: 80px;
    display: table;
    .development-ttl {
      font-size: 5rem;
      color: #fff;
      font-family: $ttlFontFamily;
      font-weight: bold;
      text-align: center;
      display: table-cell;
      vertical-align: middle;
    }
  }
}
@media screen and (min-width: 992px) {
  .development-catch {
    background-image: url('../images/development_catch.jpg');
    background-size: cover;
    background-position: 50% 50%;
    height: 390px;
    width: 100%;
    margin-top: 80px;
    .development-ttl {
      font-size: 6rem;
      color: #fff;
      font-family: $ttlFontFamily;
      font-weight: bold;
      text-align: center;
      margin-top: 160px;
    }
  }
}
